.rating_border{
    border-radius: 13px;
    background-color: rgb(6, 190, 27);
    height: 22px;
}

.product_page_buttons_one{
    background-color: orange;
}
.product_page_buttons_two{
    background-color: orangered;

}

.product_page_assured_image{
    height: 17px;

}
.image_size{
    width: 100%;
}