.logo_url {
  width: 75px;
}

.navbar_container {
  height: 6vh;
}

 .p-tag {
  font-size: 10px;
  padding: 0px;
}

.color-p-two {
  color: gold;
}
 .sub_Url {
  height: 10px;
}
 .color-p-one {
  color: aliceblue;
}

.input_serach{
  width: 350px;
  height: 35px;
border-bottom-left-radius: 2px;  
border-top-left-radius: 2px;


  
}

.input_serach::placeholder{
  font-size: 14px;
font: bold;
}

.search-icon{
  background-color: rgb(252, 252, 252);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgb(10, 10, 94);
}

.icon_size{
  font-size: 24px;
  color: rgb(18, 113, 201);

}